html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  line-height: 180%;
  font-size: 14px;
  color: #ffffff;
  background-color: #202020;
}

.wrapper {
  display: grid;
  min-height: 100%;
  grid-template-columns: minmax(24px, 1fr) minmax(auto, 1200px) minmax(
      24px,
      1fr
    );
  grid-template-rows: minmax(80px, auto) 1fr minmax(60px, auto);
  grid-template-areas:
    "header header header"
    ". main ."
    ". footer .";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #ffffff;
  line-height: 120%;
  margin: 64px 0 12px;
  text-align: center;
  text-shadow: 2px 2px #20202093;
}

.planet {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.planet__name {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 120%;
  color: #95bfe2;
  text-align: center;
  text-shadow: 2px 2px #20202093;
  margin: 0 0 12px;
}

.planet__date {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  color: #d1e7fb;
  margin: 0px 0px 24px;
}

.planet__image {
  width: 100%;
  height: auto;
  max-width: 960px;
}

.planet__text {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 1.25rem;
  max-width: 960px;
  margin: 36px 0px 24px;
}
